.recipe-item
    img.recipe-item__img(src="../images/food/dish.png")
    .recipe-item__body
        p.recipe-item__title-sub
            | Ингредиенты
        ul
            li(ng-repeat="ingredient in  recipe.ingredients")
                | {{ ingredient }} ingredient
    p.recipe-item__title-sub
        | Приготовление:
    p
        | {{ recipe.description }} description