.recipe {

  &-item {
    margin: 0;
    padding: 0 10px 10px;
    font-style: normal;
    text-shadow: none;

    &__title {
      margin: 0 0 5px;
      font-size: 30px;

      &-sub {
        margin: 0 0 5px;
        font-weight: 700;
        color: @bright;
      }
    }

    &__body {
      display: inline-block;
    }

    &__img {
      max-width: 200px;
      float: left;
      display: inline-block;
    }

    p {
      margin: 0 0 5px;
    }
  }
}