.ingredient {

  &__wrp {
    background: rgba(255, 255, 255, 0.28);
    margin-top: 60px;
    padding: 20px 0;
  }

  &__item {
    background: rgba(77, 77, 77, 0.2);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer ;
    user-select: none;

    &.active {
      background: rgba(248, 248, 248, 0.74);
      color: @back;
    }
  }
}