.form {
  .bx-shadow;
  background: rgba(77, 77, 77, 0.25);
  border-radius: 10px;
  padding: 3%;
  width: 75%;
  margin: 20px auto;

  input,
  textarea {
    color: @gray-dark;
    width: 100%;
    border-radius: 3px;
    padding: 0 6px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    transition: all .3s;
    max-width: 100%;

    &:hover {
      border-color: lighten(@bright, 10%);
    }

    &:focus,
    &:active {
      border-color: @bright;
      outline: none;
    }
  }

  textarea {
    height: 200px;
  }

  .control-group {
    margin-bottom: 15px;
  }

  legend {
    color: @bright;
    font-weight: 600;
  }

  @media @tablet {
    width: 100%;
  }
}

.ui-select-container {
  .form-control:focus {
    border-color: @bright;
    box-shadow: none;
    background-color: #FFFFFF;
  }
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  background: @bright;
  color: @back-dark;
}

.ui-select-bootstrap .ui-select-toggle {
  color: @back-dark;
  font-size: 16px;
  padding-left: 6px;
}

.btn-default-focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}
