/* Large Devices, Wide Screens */
@wide: ~"only screen and (max-width : 1199px)";

/* Medium Devices, Desktops */
@desktop: ~"only screen and (max-width : 992px)";

/* Small Devices, Tablets */
@tablet: ~"only screen and (max-width : 768px)";
/* Small Devices, Tablets */
@tablet-less: ~"only screen and (max-width : 767px)";

/* Extra Small Devices, Phones */
@mobile: ~"only screen and (max-width : 480px)";

/* Width 360 */
@mobile-360: ~"only screen and (max-width : 355px)";

/* Custom, iPhone Retina */
@mobile-xs: ~"only screen and (max-width : 320px)";

/* Height */
@height-690: ~"only screen and (max-height : 690px)";
