@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-v3tq04');
	src:url('../fonts/icomoon.eot?#iefix-v3tq04') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-v3tq04') format('woff'),
		url('../fonts/icomoon.ttf?-v3tq04') format('truetype'),
		url('../fonts/icomoon.svg?-v3tq04#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
	content: "\e615";
}

.icon-zoom:before {
	content: "\e606";
}

.icon-left:before {
	content: "\e601";
}

.icon-marriage:before {
	content: "\e600";
}

.icon-skype:before {
	content: "\e60a";
}

.icon-girl:before {
	content: "\e60b";
}

.icon-island:before {
	content: "\e60c";
}

.icon-magic:before {
	content: "\e60d";
}

.icon-mail:before {
	content: "\e60e";
}

.icon-photo:before {
	content: "\e60f";
}

.icon-studio:before {
	content: "\e610";
}

.icon-portfolio:before {
	content: "\e611";
}

.icon-portrait:before {
	content: "\e612";
}

.icon-sea:before {
	content: "\e613";
}

.icon-vk3:before {
	content: "\e614";
}

.icon-horse:before {
	content: "\e609";
}

.icon-question:before {
	content: "\e608";
}

.icon-close:before {
	content: "\e607";
}

.icon-round-:before {
	content: "\e603";
}

.icon-round+:before {
	content: "\e604";
}

.icon-twitter:before {
	content: "\e605";
}

.icon-phone:before {
	content: "\e602";
}

