.container
  form.form.form-horizontal(ng-controller="LoginCtrl", ng-if="!isAuth")
    fieldset
      legend Вход администратора
      .control-group
        label.control-label(for="textinput") Имя пользователя
        .controls
          input#textinput.input-xlarge(type="text", name="textinput", ng-model="form.username")
      .control-group
        label.control-label(for="passwordinput") Пароль
        .controls
          input#passwordinput.input-xlarge(type="password", name="passwordinput", ng-model="form.password")
      div(ng-show="form.errors.response")
        p.error
          | {{ form.errors.response }}
      .control-group
        label.control-label(for="singlebutton")
        .controls
          button.btn.btn-primary(name="singlebutton", type="submit", ng-click="loginUser()", ng-disabled="!form.username.length || !form.password.length") Войти!
