.container
    .row.ingredient__wrp
        .col-lg-6.col-md-6.col-sm-12
            .ingredient__item( ng-controller="IngredientsCtrl", ng-repeat="ingredient in ingredients track by $index", ng-click="chooseIngredient(ingredient)", ng-class="{active: isActive}")
                span
                    | {{ ingredient }}
        .col-lg-6.col-md-6.col-sm-12
            | Подходящие варианты:
            div(id="accordion", role="tablist", aria-multiselectable="false")
                .panel.panel-default(ng-repeat="item in siutableRecipes track by $index")
                    .panel-heading
                        a(data-toggle="collapse", data-parent="#accordion", data-target="#collapse-{{$index}}")
                            | {{ item.title }}
                        .panel-collapse.collapse(id="collapse-{{$index}}")
                            recipe-item(recipe='item')