footer#footer-main
  .container
    .col-lg-4.col-md-4.col-xs-6
      a.admin(ui-sref="admin", ng-if="!isAuth")
        | Админ
      a.admin(ng-if="isAuth", ng-controller="LoginCtrl", ng-click="logout()")
        | Выйти
      a.admin(ng-if="isAuth", ui-sref="add")
        | &nbsp; Добавить рецепт
    .col-lg-4.col-md-4.hidden-sm.hidden-xs
      p.copy &#169; {{ date | date: 'yyyy' }}, copyright
    .col-lg-4.col-md-4.col-xs-6
      p.develop
        span
          | Разработка
        a(href="skype:alexa.abc?chat")
          i.icon-horse
          | Alexa-SL
