.container(ng-if="isAuth")
    form.form.form-horizontal.add-form.form-wrp(name="addRecipeForm", ng-submit="addRecipe()", novalidate)
        fieldset
            legend Добавить новый рецепт
            .control-group
                label.control-label(for="title") Название
                    sup.required
                        | (&lowast;)
                .controls
                    input#title.input-xlarge(type="text", name="title", placeholder="Название", ng-model="form.title", required, ng-minlength="3")
                    p.input-error(ng-show="addRecipeForm.title.$dirty && addRecipeForm.title.$invalid")
                        | Минимум 3 символа, пожалуйста!
            .control-group
                label.control-label(for="description") Описание
                    sup.required
                        | (&lowast;)
                .controls
                    textarea#description(ng-model="form.description", name="content" rows="4", placeholder="Описание", ng-minlength="3", required)
                    p.input-error(ng-show="addRecipeForm.description.$dirty && addRecipeForm.description.$invalid")
                        | Минимум 3 символа, пожалуйста!
            .control-group
                label.control-label Категория
                    sup.required
                        | (&lowast;)
                .controls
                    ui-select(ng-model="form.selectedCategory", theme="bootstrap",  style="width: 100%;", required)
                        ui-select-match(placeholder="Выберите категорию")
                            | {{$select.selected.name}}
                        ui-select-choices(repeat="category in form.categories | filter: $select.search")
                            span
                                | {{ category.name }}
            .control-group
                .controls
                    .tags(ng-repeat="tag in tags")
                        label.control-label(for="{{tag.id}}") Тег (необязательно)
                        input.input-xlarge(type="text", id="{{tag.id}}", name="category", placeholder="Тег", ng-model="form.tags[tag.id]")
                        span.icon-wrp(title='Добавить тег', ng-click="addTagField()")
                            i.glyphicon.glyphicon-plus
                        span.icon-wrp.btn-danger.ind-left-10(title='Удалить тег', ng-click="removeTagField(tag.id)")
                            i.glyphicon.glyphicon-minus
                p.input-error
                    | {{ form.error }}
                p.input-success(ng-show="isAdded")
                    | {{ form.success }}
            .control-group
                label.control-label(for="source") Источник (ссылка на пруф, необязательно)
                .controls
                    input#source.input-xlarge(type="text", name="source", placeholder="https://ru.wikipedia.org/wiki", ng-model="form.source")
            .control-group
                label.control-label(for="singlebutton")
                .controls
                    button.btn.btn-primary(name="singlebutton", type="submit", ng-disabled="addRecipeForm.$invalid") Готово!
                        i.send-icon
                    button.btn.btn-danger.btn-cancel(name="singlebutton", ui-sref="index") Отмена