<div class="container">
    <div class="flex-container main-box">
        <div class="flex-item picker-item">
            <div ui-sref="combo" class="picker-item__content">
                <i class="png-icon png-icon-cook"></i>
                Подобрать рецепт
            </div>
        </div>
        <div class="flex-item picker-item">
            <div class="picker-item__content">
                <i class="png-icon png-icon-cookbook"></i>
                Кулинарная книга
            </div>
        </div>
    </div>
</div>


