#addressMap {
  height: 100%;
  width: 100%;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}

.map-wrp {
  width: 100%;
  height: 350px;

  map {
    height: 350px;
  }
}
